/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.width-full {
    width: 100%;
}

.text-normal {
    font-size: 16px;
    line-height: 18.78px;
}

.gap-medium {
    gap: 15px;
}

.gap-small {
    gap: 8px;
}

.item-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    justify-content: center;
}

.main-container {
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

header {
    height: 79px;
}

.logo img{
    width: 61.09px;
    height: 19px;
    padding-top: 30px;
}

.menu {
    gap: 68px;
}

.menu a{   
    align-items: flex-end;
    height: 33px;
    border-top: 2px solid transparent;
}

.menu a:hover {
    color:#0065FC;
    border-top: 2px solid #0065FC;
}

a {
    color: inherit;
    text-decoration: none;
}

main {
    margin-top: 30px;
}

.info-group {
    flex-direction: column ;
}

.info-group img {
    width: 50px;
    height: 49px;
}

.search-bar {
    justify-content:flex-start;
    height: 49px;
    margin-top: 35px;
}

.search-bar input {
    text-align: center;
    font-weight: 700;
    line-height: 21.13px;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: 0;
    border-right: 0;
    height: 47px;
    color: black;
}

.search-bar button {
    height: 49px;
    width: 132px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #0065FC;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    border: 0;
}

input::placeholder {
    color: black;
}

.filter-bar {
    font-weight: 700;
    font-size: 18px;
    color: black;
    margin-top: 35px;
}

.filter img {
    width: 22px;
    height: 22px;   
}

.filter {
    gap: 10px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 15px 19px;
    font-size: 17px;
}

.filter-bar .filter:hover {
    background-color: #DEEBFF;
}

.info-bar {
    width: 1340px;
    gap: 10px;
    height: 24px;
    margin-top: 35px;
}

.info-bar img {
    width: 24px;
    height: 24px;   
}

.section-title {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    margin-top: 35px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;   
}

.hebergements-cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 0 30px;
    
}

.hebergements-cards .card {
    margin-top: 30px;
    flex-direction: column;
}

.hebergements-cards img {
    height: 119px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 5px;

}

.hebergements-cards .card-content {
    padding-right: 15px;
    padding-left: 15px;
    flex-direction: column;
    box-sizing: border-box;
}

.hebergements-cards .card-txt {
    flex-direction: column; 
}

.hebergements-cards .card-subtitle {
    font-size: 14px;
    line-height: 16.44px;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
    height: 13.25px;
}

.afficher-plus {
    font-weight: 700;
    font-size: 18px;
    margin-top: 30px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-cards .card {
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    flex-direction: column;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/******Activités*****/

.activites {
    padding: 30px;
    margin-top: 35px;
}

.cards {
    max-width: 297.5px;
    flex: 1; 
}

.activites-card {
    margin-top: 30px;
    gap: 30px;   
}

.activites-card img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 380px;
    object-fit: cover;
    min-width: 100%;
    min-height: 380px;
}

.activites-card .card-subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 18.78px;
    margin-top: 20px;
    margin-left: 19px;
    margin-bottom: 20px;
}

.activites-card-container {
    min-width: 100%;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    box-shadow: 0px 3px 15px 0px #0000001A;
    border-radius: 20px;

}

footer {
    background-color: var(--main-bg-color);
    margin-top: 65px;
}

.footer-container {
    justify-content: space-between;
}

.footer-subtitle {
    flex-direction: column;  
}

.footer-title {
    padding-bottom: 15px;
}

.a-propos {
    padding-top: 20px;
    padding-left: 20px;
    flex-direction: column;
    padding-bottom: 20px;
    width: 446.67px;
}

.nos-hebergements {
    padding-top: 20px;
    padding-left: 20px;
    flex-direction: column;
    padding-bottom: 20px;
    width: 446.67px;
}

.assistance {
    padding-top: 20px;
    padding-left: 20px;
    flex-direction: column;
    padding-bottom: 20px;
    width: 446.67px;
}

.search-bar button img {
    display: none;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {

    .filter-bar {
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .filter-bar p {
        width: 100%;
        margin-bottom: 10px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-card img {
        min-height: 200px;
        height: 200px;
    }

    .activites-card-container {
        height: 270px;
    }
}

/* Small devices (phones, less than 768px) */

@media (min-width: 320px) and (max-width: 768px) {
    .main-container {
        padding: 0;
    }

    header {
        flex-direction: column;
        height: auto;
        align-items: center;
        
    }

    .logo {
        text-align: center;
        padding: 30px;
    }

    .logo img {
       padding-top: 0;
    }

    .menu {
        width: 100%;
        gap: 0;
    }

    .menu a {
        width: 50%;
        justify-content: center;
        padding: 0;
        padding-bottom: 15px;
        border-bottom: 2px solid var(--main-bg-color);
        border-top: none;
        height: 100%;
    }

    .menu a:hover {
        border-top: none;
        border-bottom: 2px solid var(--main-color);
    }

    .info-group .section-title {
        padding-left: 20px;
        padding-right: 20px;
    }

    div.info-group > p.text-normal {
        padding-left: 20px;
    }

    .search-text {
        display: none;
    }

    .search-bar button {
        width: 49px;
        height: 49px;
        border-radius: 15px;
    }

    .search-bar button img {
        width: 17px;
        height: 17px;
    }

    .search-bar {
        justify-content: center;
    }
}